@import "../../node_modules/material-design-lite/src/material-design-lite";
@import "partials/colors";
@import "partials/social-buttons";
@import "partials/home";
@import "partials/explore";
@import "partials/reservations";
@import "partials/images";
@import "partials/footer";

/************************
Universal Styles
************************/

* {
    box-sizing: border-box;
}

.mdl-layout__header .mdl-layout__drawer-button {
    color: $color-black;
}

section {
    height: 100%;
}

.section-container {
    margin: 0 10%;
    
    @media (max-width:768px) {
        margin: 0 0;
    }
}

.section-container-full,
.section-container {
    padding: 60px 0 60px 0;
    height: 100%;
}

.section-hero {
    height: 300px;
    width: 100%;
    padding: 100px 0;
}

section.secondary {
    background-color: $section-secondary-background;
}

.section-header {
    color: $color-black;
    width: 100%;
    text-align: center;
    font-weight: 300;
    margin-bottom: 40px;
}

.section-extend-fab {
    position: relative;
    bottom: -28.5px;
}

h1, h2 {
    color: $color-white;
    font-weight: 100;
    letter-spacing: normal;
}

.mdl-card__supporting-text ~ .mdl-card__supporting-text {
    border-top: 1px solid $light-border-color;
}


.mdl-layout__drawer>.mdl-layout-title {
    height: 150px;
    background-color: $section-secondary-background;
    
    span {
        position: absolute;
        font-weight: 300;
        font-size: 1em;
        bottom: 0;
        width: 100%;
        left: 0;
        padding: 10px 10px 10px 30px;
        text-align: left;
        line-height: 1.5em;
    }
}

