$h1-color: black;
$dark-primary: #333333;
$desktop-breakpoint: 980px;
$tablet-breakpoint: 760px;
$box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4);
$dark-blue-color: #34495F;
$purple-color: #7E4D74;
$light-blue-color: #44A0C7;
$white: rgba(255,255,255,0.8);
$teal-color: #39AB97;
