@import "node_modules/bootstrap/scss/bootstrap";
@import "partials/variables";
@import "partials/mixins";
@import "partials/sidebar-nav";
@import "partials/fonts";
@import "partials/animations";

/*******************
Universal Styles
*******************/

h1, h2 {
    font-family: 'Liberator Light';
    letter-spacing: 2px;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 3em;
}

p {
    font-family: 'American Typewriter';
}

.content {
    padding-left: 30px;
    margin: 40px 0;
    border-left: 10px solid $black;
    font-size: 1.5em;
}

/*******************
Home Page
*******************/

#home {
    background: 
        -webkit-linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        url(../assets/img/home-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#big-header {
    position: absolute;
    top: 30%;
    color: $white;

    h1 {
        font-size: 60px;
        font-family: 'Liberator Heavy';

        &::after {
            content: "";
            display: block;
            height: 5px;
            background-color: $white;
            width: 225px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    h2 {
        font-size: 20px;
        font-family: 'Moms Typewriter';
        text-transform: uppercase;
        padding-top: 20px;
    }

    p {
        font-size: 14px;
        font-family: 'American Typewriter';
        padding: 10px 70px;

        @include bp-large {
            padding: 10px 15px;
        }
    }
}

#home-buttons {
    position: absolute;
    top: 60%;
    
    a.btn {
        border: 1px solid $white;
        border-radius: 0;
        margin: 20px 20px;
        color: $white;
        font-family: 'Liberator Light';
        transition: 0.2s color ease-in-out;
        
        &:hover {
            color: $black;
        }
    }
}

/*******************
About Us Page
*******************/

#about-us {
    height: 100%;
    background-color: $white;
    
    
    .jumbotron {
        border-radius: 0;
        color: $white;
        height: 100vh;
        background: url('../assets/img/restaurant-lights.jpg') no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        
        p {
            font-family: 'Moms Typewriter';
            text-transform: uppercase;
            font-size: 2em;
        }
        
        .main-title {
            position: absolute;
            left: 10%;
            top: 30%;
        }
    }
    
    
}