@font-face {
    font-family: 'Liberator Light';
    src: url('../assets/fonts/Liberator-Light.otf');
}

@font-face {
    font-family: 'Liberator Heavy';
    src: url('../assets/fonts/Liberator-Heavy.otf');
}

@font-face {
    font-family: 'Moms Typewriter';
    src: url("../assets/fonts/Mom's Typewriter.ttf");
}