@mixin bp-small {
    @media (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin bp-large {
    @media (max-width: $tablet-breakpoint) {
        @content;
    }
}

%page-content {
    height: 100% !important;
    background-color: $black;
    color: $white;
}