#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
    position: relative;
    
    @include bp-small {
        padding-left: 250px;
    }
    
    .page-content-wrapper {
        width: 100%;
        position: absolute;
        padding: 15px 0;
        
        @include bp-small {
            position: relative;
        }
        
        #menu-toggle {
            position: absolute;
            top: 0;
            left: 5px;
            width: auto;
            min-width: 145px;
            height: 75px;
            border: 1px solid rgba(255,255,255,0.5);
            font-size: 14px;
            padding: 5px 0;
            border-radius: 5px;
            outline: none;
            color: $white;
            font-family: 'Liberator Light';

            img {
                z-index: -2;
                float: left;
                height: 100%;
            }
            
            span {
                float: left;
                height: auto;
                width: 50%;
                padding: 10px 10px;
            }
        }
    }
    
    &.toggled {
        padding-left: 250px;
        
        @include bp-small {
            padding-left: 0;
        }
        
        #sidebar-wrapper {
            width: 250px;
            
            @include bp-small {
                width: 0;
            }
        }
        
        .page-content-wrapper {
            position: absolute;
            margin-right: -250px;
            
            @include bp-small {
                position: relative;
                margin-right: 0;
            }
        }
    }
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    height: 100%;
    width: 0;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
    @include bp-small {
        width: 250px;
    }
}



.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    list-style: none;
    text-align: right;
    padding: 30px 0 0 0;
    
    li a {
        display: block;
        text-decoration: none;
        color: $white;
        padding: 0 30px;
        font-size: 24px;
        font-family: 'Liberator Light';
        line-height: 26px;
        transition: 0.2s all ease-in-out;
    }
    
    li {
        transition: 0.2s all ease-in-out;
        
        &:hover,
        &.active {
            background: $white;
            
            &>a {
                color: $black;
            }
        }
    }
    
    .sidebar-brand {
        height: 100%;
        line-height: 60px;
        padding-bottom: 60px;
        
        a img {
            height: 160px;
        }
        
        &:hover {
            background: rgba(225,255,255,0);
        }
    }
}

.sidebar-footer {
    width: 250px;
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: 'American Typewriter';
    font-size: 14px;
    
    a, p, address {
        color: $white;
        text-decoration: none;
    }
    
    &>p {
        font-size: 10px;
        margin-bottom: 2px;
    }
    
    .contact {
        padding: 10px 10px;
    }
    
    .social {
        text-align: left;
        color: $white;
        border-bottom: 1px solid $white;
        
        padding: 10px 10px;
        
        i {
            padding-right: 10px;
        }
    }
}